
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore CSV and pk files
*.pk
*.csv

# Ignore virtual environment
virt/*

# 
__pycache__/
.ebignore
.vscode/*
.gitignore
.ipynb_checkpoints/*